.card-iterator {
  background-color: #ddd;
  color: #333;
  display: flex;
  flex-flow: row nowrap;
  margin: auto;
  width: 80vw;

  &__btn-wrapper {
    flex-grow: 1;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
  }
  &__item-wrapper {
    flex-grow: 3;
  }

  &__btn {
    // width: 200px;
    margin: auto;
  }
  &__item {
    &--error {
      font-weight: bold;
      color: #900;
    }
  }

  &--dark {
    background-color: #333;
    color: #ddd;
  }
}
