
.carousel-item {
  display: block;
  background-color: #ddd;
  padding: 20px;

  &__title {
    font-weight: bold;
    font-size: 1.5em;
  }

  &__data {
    display: flex;
    flex-flow: nowrap row;

    :nth-child(1) {
      font-style: italic;
      margin-right: 3px;
    }

    :nth-child(2) {
      flex-grow: 1;
      font-weight: bold;
    }
  }

  &__error {
    font-weight: bold;
    color: #900;
  }
}