.carousel-example {
  background-color: #ddd;
  color: #333;

  &--dark {
    background-color: #333;
    color: #ddd;
  }
}

.carousel-item {
  display: block;
  padding: 20px;
  min-height: 150px;

  &__error {
    font-weight: bold;
    color: #900;
  }
}