.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 50px auto;
  width: 400px;
  height: 400px;
  text-align: center;

  background-color: #ccc;
  color: #333;

  button {
    border: none;
    width: 80px;
    height: 50px;
    margin: auto;
    background-color: #333;
    color: #ccc;
  }

  &--dark {
    background-color: #333;
    color: #ccc;

    button {
      background-color: #ccc;
      color: #333;
    }
  }
}

