$color-bg-light: #ccc;
$color-bg-dark: #444;
$color-fg-light: #444;
$color-fg-dark: #ddd;
$color-bd-light: #ddd;
$color-bd-dark: #222;

.app-root {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  button {
    font-weight: bold;
    font-size: 16px;
    padding: 10px;

    border-width: 1px;
    border-style: solid;
    background-color: $color-bg-light;
    border-color: $color-bd-light;
    color: $color-fg-light;

    &:hover {
      background-color: lighten($color-bg-light, 10%);
      border-color: darken($color-bd-light, 10%);
      color: darken($color-fg-light, 10%);
    }

    &.is-dark {
      background-color: $color-bg-dark;
      border-color: $color-bd-dark;
      color: $color-fg-dark;

      &:hover {
        background-color: lighten($color-bg-dark, 10%);
        border-color: darken($color-bd-dark, 10%);
        color: darken($color-fg-dark, 10%);
      }
    }
  }

  .dark-mode-btn {
    display: block;
    margin: 10px auto;
  }
}